.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.main-color {
  background-color: #61dafb;
}

.gyro {
 background-image: url("./assets/images/Hero.JPG");
 background-size: cover;
 height: 90vh;
position: relative;
opacity: .7;
overflow: hidden;
}




/* .top-left
{ position: absolute; left:0; top:0; } */


.verticaltext {
  transform: rotate(-90deg);
  transform-origin: right, top;
  -ms-transform: rotate(-90deg);
  -ms-transform-origin:right, top;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin:right, top;
  
}


.fix {
  padding: 0px 4px;
}

.sidebar-btn-wrapper, .side-style{
  background-color: #964B00;

}


@media only screen and (max-width: 980px) {
  .game-on {
    visibility: hidden;
    display: none;
  }
  }


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.negative-p {
  padding-bottom: 5px;
}
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}


@media only screen and (max-device-width: 480px) {

  .mobile-font {
      font-size: 12px;
    }

    .mobile-column {
      display: flex;
      flex-direction: column;
    }

    .feature {
      margin: 4px;
      width: 90vw;
    }

}

@media only screen and (min-device-width: 800px) {

    .project {
    max-height: 50%;
    max-width: 50%;
    
    }
}