.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.main-color {
  background-color: #61dafb;
}


/* .gyro {
 background-image: url("./assets/images/Jonathan Robinson.png");
 background-size: cover;
 height: 90vh;
position: relative;
opacity: .7;
overflow: hidden;
} */
     /* .bg-image { 
    width: 100%; 
    height: 600px; 
    background-size: 100% 100%;  
    background-repeat: no-repeat;
}  */

.home-back {
  background-color: #121f48
}


/* .top-left
{ position: absolute; left:0; top:0; } */


.verticaltext {
  transform: rotate(-90deg);
  transform-origin: right, top;
  -ms-transform: rotate(-90deg);
  -ms-transform-origin:right, top;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin:right, top;
  
}


.fix {
  padding: 0px 4px;
}

.sidebar-btn-wrapper, .side-style{
  background-color: #964B00;

}


@media only screen and (min-width: 481px) {
  .game-on {
    visibility: hidden;
    display: none;
  }

  .mobile-font {
    font-size: 20px;
  }

  .mobile-overflow {
    overflow-y: auto;
  
  }
  .mobile-column {
    display: flex;
    flex-direction: column;
  }


  }


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.negative-p {
  padding-bottom: 5px;
}

.cards-width {
max-width: 25;
}
@media only screen and (max-width: 480px) {

  .mobile-font {
      font-size: 11px;
    }

    .mobile-column {
      display: flex;
      flex-direction: column;
    }

    .feature {
      margin: 4px;
      width: 90vw;
    }

    .body-cards {
      margin-bottom: 3.5rem;
      }

      .mobile-overflow {
        overflow-y: scroll;
      
      }

}

/* @media only screen and (min-device-width: 800px) {

  .mobile-font {
    font-size: 20px;
  }
} */